KAFKA_BROKER_URLS=<comma-separated-urls>
KAFKA_TOPIC_NAME=<kafka-topic-name>
EMAIL_HOST=<email-server-host>
EMAIL_PORT=<email-server-port>
EMAIL_SECURE=<email-server-secure>
EMAIL_AUTH_USERNAME=<email-server-username>
EMAIL_AUTH_PASSWORD=<email-server-password>